/* Nosotros */

.seccion-nosotros-1{
    text-align: center;
    width: 90%;
    background-color: #B7905A;
    margin: 4% auto;
    padding: 3% 0;
}

.seccion-nosotros-1 span{
    color: white;
    font-size: 30px;
    border: white 3px solid;
    padding: 5px 10px;
}

.seccion-nosotros-2{
    text-align: center;
    width: 90%;
    margin: 4% auto;
}

.seccion-nosotros-2 span{
    font-size: 30px;
    font-style: italic;
    font-family: Palatino, Georgia, serif ;
}

.grid{
    width: 90%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: auto;
    /* Especificamos el espacio de cada columna */
    grid-template-columns: 60% 40%;
    grid-template-areas: 
    "valores equipo"
    "mision equipo"
    "vision equipo";
}
/* Con grid-area especificamos el componente de cada fila y cada columna por nombre*/
.valores{
    grid-area: valores;
}

.valores li{
    list-style-type: none;
    font-size: 1.6em;
}

.vision{
    grid-area: vision;
}

.mision{
    grid-area: mision;
}

.equipo{
    grid-area: equipo;
    background-image: url(/assets/img/equipo.png);
    background-size: cover;
    margin-bottom: 10px;
    margin-top: 10px;
}

.grid p{
    padding: 10px;
    font-size: 1.6em;
}

.grid h2{
    font-size: 2.5em;
    font-weight: 700;
}

.grid h2::before{
    content: "\2022";
    color: #B7905A;
    font-size: 32px;
    padding-right: 10px;
}

.espacio-nosotros{
    margin-bottom: 5%;
}
