<!-- Nosotros -->

<section class="espacio-nosotros">
    <div class="seccion-nosotros-1"><span>NOSOTROS</span></div>
    <div class="seccion-nosotros-2"><span>¿Quiénes somos y en qué creemos?</span></div>
    <div class="grid">
        <div class="valores">
            <h2>VALORES</h2>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti, quos? Eveniet voluptates ducimus reprehenderit autem velit illum nostrum quis culpa explicabo doloribus atque suscipit mollitia eaque laudantium odio, necessitatibus, ut eius quisquam vel iure. Est, beatae! Repudiandae et tempore ex nihil porro? Ullam repellendus non et deleniti quos, dolores nobis?
            </p>
            <ul>
                <li>Valores</li>
                <li>Valores</li>
                <li>Valores</li>
                <li>Valores</li>
                <li>Valores</li>
            </ul>
        </div>
        <div class="mision">
            <h2>MISIÓN</h2>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus quod libero fugiat consectetur temporibus magni voluptatibus totam sint? Aspernatur natus sapiente quam et itaque doloribus velit adipisci esse amet repellat quasi qui iste tempore deleniti, libero ratione voluptatem odit harum placeat ullam repellendus culpa deserunt voluptatibus officiis. Nam, ipsam nemo.
            </p>
        </div>
        <div class="vision">
            <h2>VISIÓN</h2>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium maiores nisi, saepe dolor doloribus facilis voluptates amet adipisci quibusdam in ut eaque repellat commodi quidem corporis unde magnam! Ducimus enim iste fugiat consequuntur! Dolore odio consequatur illo, aperiam natus suscipit nam alias neque saepe aspernatur animi id quod. Quasi, possimus.
            </p>
        </div>
        <div class="equipo"></div>
    </div>
</section>

<!-- Cuota -->

<app-couta></app-couta>