/* Banner */

#banner{
    min-height: 500px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/assets/img/banneroscuro.png);
}

#banner h1{
    font-size: 4.5em;
    color: white;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 80px;
    transform: scale(1, 1.1);

}

.ancho-contenido-banner{
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.ancho-contenido-banner p, span{
    color: white;
    font-size: 1.6em;
}

/* Servicios */

.flex-container-2{
    display: flex;
    justify-content: center;
}

.flex-container-2 div{
    text-align: center;
    font-size: 1.6em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    margin: 10px;
}

.flex-container-2 div h2{
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 2.5rem;
}