<!-- Banner -->
<section id="banner" [ngStyle]="{background: 'url(assets/img/banneroscuro.png)'}">
    <div class="ancho-contenido-banner">
        <h1>Somos Expertos en Desarrollo WEB</h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis harum molestiae non a odit placeat, distinctio ratione ab alias eius corrupti, quidem, ipsa ut sapiente at totam ducimus voluptatum pariatur! <span>dolor</span>
        </p>  
    </div>
</section>

<!-- Cuota -->

<app-couta></app-couta>

<!-- Servicios -->
<section class="flex-container-2">
    <div>
        <img src="assets/img/computadora.png" alt="icono computadora">
        <h2>Páginas WEB</h2>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi modi quam enim corrupti placeat, facilis cum eos quod voluptatum hic!
        </p>
    </div>
    <div>
        <img src="assets/img/celular.png" alt="icono celular">
        <h2>Aplicaciones</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus unde, illo dolorum corporis facilis labore omnis tempora eveniet totam odio?
        </p>
    </div>
    <div>
        <img src="assets/img/cart.png" alt="icono cart">
        <h2>Tiendas Virtuales</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa dolore doloribus quam minus quos itaque hic sapiente accusamus exercitationem officiis.
        </p>
    </div>
</section>
