header{
    background-color: #212121 ;
    font-size: 1.6rem;
}

// header a{
//     font-weight: 7;
// }

.navbar {
    z-index: 1;
}

.navbar ul a:hover{
    color: #B7905A;
}

.logo{
    font-size: 1.8em;
    color: #B7905A;
    margin-right: 20px;
}

