<header class="h-100">
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark " [containerInside]="true">

        <a class="logo " href="#"><strong>AppJO</strong></a>

        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" 
                        routerLink="/inicio">
                        Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" 
                        routerLink="/nosotros">
                        Nosotros</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link"
                        routerLink="/contacto">
                        Contacto</a>
                </li>
            </ul>
        </links>
    </mdb-navbar>
</header>