.seccion-nosotros-1{
    text-align: center;
    width: 90%;
    background-color: #B7905A;
    margin: 4% auto;
    padding: 3% 0;
}

.seccion-nosotros-1 span{
    color: white;
    font-size: 30px;
    border: white 3px solid;
    padding: 5px 10px;
}

.seccion-nosotros-2{
    text-align: center;
    width: 90%;
    margin: 4% auto;
}

.seccion-nosotros-2 span{
    font-size: 30px;
    font-style: italic;
    font-family: Palatino, Georgia, serif ;
}



/* Formulario */

.form-container{
    width: 40%;
    margin: auto;
    overflow: hidden;
    background-color: #212121;
    padding-top: 20px;

}

.form-container h3{
    color: white;
    font-size: 1.6em;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

.formulario{
    text-align: center;
}

.formulario > div{
    padding-bottom: 20px;
}

.formulario input,  textarea{
    font-size: 1.5em;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
}

.boton{
    color: white;
    background-color: #B7905A;
    border: none;
    border-radius: 15px;
    font-size: 1.4em;
    cursor: pointer;
    padding: 5px 30px;
}

.espacio-seccion{
    min-height: 75vh;
    margin-bottom: 7%;
}