<!-- Formulario -->

<section class="espacio-seccion">
    <div class="seccion-nosotros-1"><span>CONTACTANOS</span></div>
    <div class="seccion-nosotros-2"><span>¡Comunícate con nosotros para hacer algo increíble!</span></div>
    <div class="form-container">
        <h3>RECIBE UNA CUOTA EN 24 HORAS</h3>
        <form action="" method="" class="formulario">
            <div>
                <input type="text" placeholder=" Nombre Completo">
            </div>
            <div>
                <input type="text" placeholder=" Correo Electrónico">
            </div>
            <div>
                <input type="text" placeholder=" ¿Adónde llammos?">
            </div>
            <div>
                <textarea rows="5" placeholder=" Ecribe tu mensaje aquí"></textarea>
            </div>
            <div>
                <button class="boton" type="button" mdbBtn mdbWavesEffect>Enviar</button>
            </div>
        </form>
    </div>
</section>