/* Cuota */

.cuota{
    background-color: #212121;
    min-height: 100px;
    padding: 10px;
    color: white;
    font-style: italic;
    font-family: Palatino, Georgia, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.cuota span{
    font-size: 2.0em;
    padding-right: 20px;
}

.cuota button{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.4em;
    background-color: #B7905A;
    border-radius: 16px;
    padding: 5px 12px;
}