/*Propiedades Globales*/

html{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family:Arial, Helvetica, sans-serif;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    line-height: 1.6;
}